@model IEnumerable<PSPCommerce.Models.Product>

@{
    ViewData["Title"] = "Home";

    // model create dictionary base on category
    var GroupedProducts = Model.GroupBy(x => x._Category.Name).ToDictionary(x => x.Key, x => x.ToList());

}

<style>
    .card {
        background: #fff;
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        border: 0;
        border-radius: 1rem;
        transition: transform 0.3s ease-out; /* Add smooth transition */

    }
    
    .card:hover {
        scale: 1.05;
        transition: all;
    }

    .product-image {
        width: 100%;
        min-height: 250px;
        max-height: 250px;
        object-fit: cover;
    }

    a {
        text-decoration: none;
        color: #212529;
    }
</style>
<div>
    @foreach (var category in GroupedProducts) {
        <div class="col-12" style="margin: 0 0 1rem 0">
            <h2>@category.Key</h2>
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                @foreach (var product in category.Value)
                {
                    <div class="col hp">
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ID">
                            <div class="card h-100 shadow-sm">
                                <div>   
                                    <img src="/@product.Images[0].ImageUrl" alt="@product.Description" class="product-image"/>
                                </div>
                                <div class="p-2">
                                    <h5 class="text-truncate">@Html.DisplayFor(modelItem => product.Name)</h5>
                                    <div class="text-secondary text-truncate">@Html.DisplayFor(modelItem => product.Description)</div>
                                    <strong>Rs. @Html.DisplayFor(modelItem => product.Price)</strong>
                                    <form asp-controller="Cart" asp-action="Add" method="post" class="w-100">
                                        <input type="hidden" value="@product.ID" name="productId" />
                                        <input type="submit" value="Add to Cart" class="btn btn-primary" />
                                    </form>
                                </div>
                            </div>
                        </a>
                    </div>
                } 
            </div>
        </div>
    }
</div>