@model ICollection<PSPCommerce.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<style>
    .card {
        background: #fff;
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        border: 0;
        border-radius: 1rem;
        transition: transform 0.3s ease-out; /* Add smooth transition */

    }
    
    .card:hover {
        scale: 1.05;
        transition: all;
    }

    .product-image {
        width: 100%;
        min-height: 250px;
        max-height: 250px;
        object-fit: cover;
    }
    a {
        text-decoration: none;
        color: #212529;
    }
</style>

<h1>Search</h1>
<div style="margin: 2rem 0;">
    <form asp-controller="Product" asp-action="Search" method="get">
        <div class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="@ViewBag.Q">
            <input type="hidden" name="page" value="@(ViewBag.Page)" />
            <input type="hidden" name="pageSize" value="@(ViewBag.PageSize)" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
        <div class="d-flex">
            <div>
                <label>Category</label>  
                @Html.DropDownList("category", ViewBag.CategoryID, "All", new { @class = "form-control" })
                </div>
            <div>
                <label>Price Min</label>  
                <input type="number" name="minPrice" value="@ViewBag.MinPrice" class="form-control" style="width: 100px;" />
            </div>
            <div>
                <label>Price Max</label>  
                <input type="number" name="maxPrice" value="@ViewBag.MaxPrice" class="form-control" style="width: 100px;" />
            </div>
        </div>
    </form>
</div>
<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
    @foreach (var item in Model) {
        <div class="col hp">
            <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ID">
            <div class="card h-100 shadow-sm">
                <div>   
                    <img src="/@item.ImageUrl" alt="@item.Description" class="product-image"/>
                </div>
                <div class="p-2">
                    <h5 class="text-truncate">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <div class="text-secondary text-truncate">@Html.DisplayFor(modelItem => item.Description)</div>
                    <strong>Rs. @Html.DisplayFor(modelItem => item.Price)</strong>
                    <form asp-controller="Cart" asp-action="Add" method="post" class="w-100">
                        <input type="hidden" value="@item.ID" name="productId" />
                        <input type="submit" value="Add to Cart" class="btn btn-primary" />
                    </form>
                </div>
            </div>
            </a>
        </div>
    }
</div>
<div>
    @if (Model.Count <= 0 ) {
        <div>No Products Found</div>
    }

    @if (ViewBag.TotalPages > 1)
    {
        <div class="btn-group" style="margin:2rem 0;">
            @if (ViewBag.Page > 1)
            {
                <a 
                    asp-controller="product"
                    asp-action="Search"
                    asp-route-q="@ViewBag.Q"
                    asp-route-page="@(ViewBag.Page - 1)"
                    asp-route-pageSize="@ViewBag.PageSize"
                    asp-route-category="@ViewBag.Category"
                    asp-route-minPrice="@ViewBag.MinPrice"
                    asp-route-maxPrice="@ViewBag.MaxPrice"
                    class="btn btn-default"
                >Previous</a>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <a 
                    asp-controller="product"
                    asp-action="Search"
                    asp-route-q="@ViewBag.Q"
                    asp-route-page="@i"
                    asp-route-pageSize="@ViewBag.PageSize"
                    asp-route-category="@ViewBag.Category"
                    asp-route-minPrice="@ViewBag.MinPrice"
                    asp-route-maxPrice="@ViewBag.MaxPrice"
                    class="btn @(i == ViewBag.Page ? "btn-primary" : "btn-default")"
                >@i</a>
            }

            @if (ViewBag.Page < ViewBag.TotalPages)
            {
                <a 
                    asp-controller="product"
                    asp-action="Search"
                    asp-route-q="@ViewBag.Q"
                    asp-route-page="@(ViewBag.Page + 1)"
                    asp-route-pageSize="@ViewBag.PageSize"
                    asp-route-category="@ViewBag.Category"
                    asp-route-minPrice="@ViewBag.MinPrice"
                    asp-route-maxPrice="@ViewBag.MaxPrice"
                    class="btn btn-default"
                >Next</a>
            }
        </div>
    }

</div>

